@font-face {
    font-family: youngserif;
    src: url(./fonts/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: Outfit-light;
    src: url(./fonts/Outfit-Light.ttf);
}
@font-face {
    font-family: outfitbold;
    src: url(./fonts/Outfit-Bold.ttf);
}
img{
    width: 90%;
    margin-left: 5vw;
    border-radius: 3vw;
}
body{
    padding: 3vw;
    line-height: 3vw;
}
p{
font-family: Outfit-light;
}
.prepare{
    background-color: hsl(330, 59%, 83%);
    padding: 1vw;
    width:90%;
    border-radius: 3vw;
    h2{
        font-family: outfitbold;
        color: hsla(329, 83%, 61%, 0.692);
    }
    section{
        display: flex;
        flex-direction: row;
        li{
            font-family: Outfit-light;
            padding:0vw;
        }
        p{
            margin-left: 4px;
            margin-top: -0vw;
        }
    }
}
  h2{
        font-family:youngserif ;
        color:   hsl(32, 55%, 46%);
    }
    li{
        padding-left: 2vw;
        font-family: outfit-light;
    }
table{
    font-family: outfit-light;
    td{
        width: 50vw;
        border-bottom: 1px solid hsl(30, 18%, 87%);
    }
}
@media only screen and (max-width: 600px) {
    body{
        line-height: 6vw;
    }
}